{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner list">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>{{ catalogue.name }}

			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
					<figcaption>Guest</figcaption>
				</figure>
			</h1>
		</div>
	</div>


	<h2>Items</h2>
	{% for i in items %}

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="list-item">
				<h3>{{i.name}}</h3>
				<p>{{i.description}}</p>
			</div>
		</div>
	</div>
			{% endfor %}

	<div class="col-md-1"></div>
</div>
{% endblock %}
